/* Global */
.fab {
  color: white;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

/* Navigation Bar */

.nav-link{
  color: white;
}

.navbar-brand{
  color: white;
}

.navCustom {
  background-color: black;
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 1);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Home Section */

#home {
  background-image: url("../img/home.jpg");
  width: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#logo {
  width: 40%;
}

/* About Section */

.about {
  background-color: black;
  color: white;
}

/* Music Section */
#music {
  background-image: url("../img/music.jpg");
  color: white;
  width: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#film {
  background-image: url("../img/film.jpg");
  color: white;
  width: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.photography {
  background-color: black;
}

.photography h1 {
  color: white;
}

.contact {
  background-color: black;
}

.footerCustom {
  background-color: black;
  text-align: center;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
